@font-face {
  font-family: "Callient";
  src: url(/font/fonnts.com-Callient.ttf);
  font-weight: 400;
}

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  direction: ltr;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #d8c9bb;
  color: #222222;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
}

/* Header styling */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #272727;
  color: #828282;
  padding: 5px 0px;
  text-align: left;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

.wetrust-loop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: translateLoop 20s linear infinite;
}

.wetrust-content {
  display: flex;
  flex-direction: row;
  flex: none;
  z-index: 500;
  white-space: nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 16px;
}

/* Text and dash styling */
.wetrust-text,
.wetrust-dash {
  display: inline-block;
  padding: 0 2px;
}

/* Navigation styling */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  padding: 40px 33px;
  text-align: left;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
}

nav > div > img {
  width: 130px;
  height: 49px;
}

/* Main content styling */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

/* Hero section styling */
main > .hero {
  width: 100%;
  display: flex;
  background-image: url(../images/background-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero > .hero-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Container styling for larger screens */
.container-large {
  width: 100%;
  margin: auto 0px;
  max-width: 120rem;
}

/* Hero content view styling */
.hero-content-view {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-content-view > .hero-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

/* Hero image view styling */
.hero-top > .hero-image-view {
  display: flex;
  width: 100%;
  height: 58rem;
  max-width: 100%;
}

.hero-image-view > img {
  width: 110%;
  object-fit: contain;
  position: relative;
  right: 5%;
  mix-blend-mode: multiply;
}

/* Hero text content styling */
.hero-text-content {
  display: flex;
  flex-direction: column;
  padding: 12% 0rem 0rem 10%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 110%;
  max-width: 110%;
  z-index: 1;
}

.hero-text > h1 {
  font-size: 4.5rem;
  color: #222222;
  margin-bottom: 2.125rem;
  font-weight: 700;
  line-height: 5.375rem;
}

.hero-text > p:first-of-type {
  font-size: 1.375rem;
  color: #222222;
  font-weight: 400;
  line-height: 1.875rem;
}

.hero-text > p:last-child {
  font-size: 1.375rem;
  color: #222222;
  font-weight: 400;
  line-height: 1.875rem;
}

/* Hero bottom image styling */
.hero-bottom-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 48rem;
  height: 35rem;
  background-image: url(../images/ellipse-hero-bottom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  left: 26%;
  top: 45%;
  z-index: 0;
}

.hero-bottom-image > img {
  width: 41%;
  height: 100%;
  position: relative;
  top: -0.5rem;
  object-fit: contain;
}

/* Hero bottom section styling */
.hero-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 5rem;
  gap: 2.5rem;
}

.hero-bottom > p {
  font-size: 1.75rem;
  line-height: 2rem;
  font-style: italic;
  text-align: center;
  width: 70rem;
  padding: 0px 1.688rem;
  max-width: 100%;
}
.hero-bottom > a > button {
  background-color: #000000;
  color: #c0c0c0;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1.188rem 3.75rem;
  width: 15.625rem;
  cursor: pointer;
}

/* Absolute hero image styling */
.absolute-hero {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  left: 0%;
  bottom: 0%;
  z-index: 0;
}

.absolute-hero > .ellipse-hero {
  position: absolute;
  left: 5%;
  width: 33rem;
  max-width: 100%;
  height: auto;
}

/* Watch hero image styling */
.watch-hero {
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 0;
  width: 28%;
  height: 52rem;
  object-fit: contain;
  float: left;
  top: 11rem;
}

/* Eye view styling */
.eye-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 8.4rem;
  position: fixed;
  top: 75%;
  right: 2%;
  background-image: url(../images/Eye.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

.eye-view > div {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.eye-view > img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: multiply;
}

/* About Section */
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-section {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.about-image {
  width: 70rem;
  height: 58rem;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 68rem;
  max-width: 80%;
  row-gap: 2.875rem;
  padding: 12% 0rem 0rem 10%;
  margin-left: 1rem;
}
.about-content > div:first-of-type {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #222222;
  row-gap: 1.5rem;
}
.about-content > div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-content > div:last-of-type > a {
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}
.about-content > div:last-of-type > p {
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #424242;
  font-family: "Callient";
  position: relative;
  transform: rotate(-8deg);
  left: 15%;
  text-align: center;
}
.intrested-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-bottom: 16rem;
}
.intrested-absolute {
  display: flex;
  width: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.intrested-absolute > img:first-of-type {
  position: absolute;
  right: -7%;
  left: auto;
  width: 35%;
  height: 40rem;
  object-fit: contain;
  top: -35%;
  mix-blend-mode: multiply;
}
.intrested-absolute > img:last-of-type {
  width: 37%;
  height: 60rem;
  object-fit: contain;
  position: absolute;
  left: 0%;
  top: -65%;
  max-width: 100%;
}
.intrested-p > p {
  width: 50rem;
}
/* Researcher Section */
.researcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.researcher-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.researcher-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}
.researcher-image {
  width: 62%;
  height: 47rem;
  position: relative;
  right: 8%;
  top: 2rem;
}
.researcher-image > img:first-of-type {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
  mix-blend-mode: multiply;
}
.researcher-section > img {
  width: 23.5%;
  position: absolute;
  right: 0%;
  left: auto;
  top: -10%;
  bottom: 0%;
  z-index: 0;
  mix-blend-mode: multiply;
}
.researcher-image > img:last-of-type {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  right: 0%;
  left: -20%;
  top: -15%;
  bottom: 0%;
}
.researcher-content {
  display: flex;
  flex-direction: column;
  gap: 4.25rem;
  padding: 0% 0rem 0rem 10%;
  position: relative;
  z-index: 1;
}
.researcher-content-two {
  padding: 0% 0rem 0rem 0%;
}
.researcher-content > h2 {
  font-size: 3.25rem;
  line-height: 3.5rem;
  font-weight: 700;
}
.researcher-content > div {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 1.875rem;
  width: 78%;
}
.researcher-content > div > h3 {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 700;
}
.researcher-content > div > ul {
  margin-left: 2rem;
}
.researcher-item-two {
  position: relative;
  top: -8rem;
}
.researcher-image-2 {
  position: relative;
  padding-right: 1rem;
  padding-left: 10%;
}
.researcher-image-2 > img:first-of-type {
  width: 90%;
  height: 47rem;
  position: relative;
  mix-blend-mode: multiply;
  object-fit: contain;
  top: -9rem;
}
.researcher-image-2 > img:last-of-type {
  position: absolute;
  left: -8%;
  bottom: -3%;
  width: 40%;
  object-fit: cover;
  mix-blend-mode: multiply;
  z-index: 0;
}
.researcher-item > img:first-of-type {
  position: absolute;
  width: 28%;
  height: 40rem;
  left: -6%;
  top: -22%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.researcher-item > img:last-of-type {
  position: absolute;
  width: 20%;
  left: auto;
  right: 0%;
  top: -15%;
  margin: 0px auto 0px 0px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.researcher-content-two > div {
  width: 100%;
  position: relative;
  left: -5rem;
}
.researcher-bird {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: flex-end;
  top: -9rem;
}
.researcher-bird > .researcher-image {
  width: 60%;
  position: absolute;
  right: 0;
  height: 60rem;
  top: -200%;
}
.researcher-content-3 {
  width: 100%;
  top: -4rem;
}
.researcher-bird > .researcher-image > img:last-of-type {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  right: 0%;
  left: 0%;
  top: auto;
  bottom: auto;
}
.researcher-image-3 {
  position: relative;
  padding-right: 1rem;
  left: 0%;
  height: 50rem;
}
.researcher-image-3 > img:first-of-type {
  width: 130%;
  height: 100%;
  position: relative;
  mix-blend-mode: multiply;
  object-fit: contain;
  top: -10rem;
  right: 2.3rem;
}
.padding-research {
  position: relative;
  top: 5rem;
  width: 50%;
  left: 8%;
}
.women-image {
  width: 28%;
  height: 35rem;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  mix-blend-mode: multiply;
  top: -7rem;
  right: -6%;
}
.women-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.padding-research > div {
  left: 0rem;
}
.women-view {
  position: relative;
  top: 3rem;
}
.women-view > img:last-of-type {
  position: absolute;
  width: 27%;
  height: 40rem;
  object-fit: contain;
  top: 20%;
}
.bottom-intresting {
  padding-top: 0px;
  top: -8rem;
  height: 2rem;
  position: relative;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  max-width: 120rem;
  margin: 0 auto;
}
.footer-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  position: relative;
}
.footer-line > img:first-of-type {
  width: 43%;
  height: 1px;
  position: absolute;
  left: 0;
}
.footer-line > img:nth-child(2) {
  width: 30%;
  height: 370px;
  object-fit: contain;
  mix-blend-mode: darken;
  position: relative;
  top: -3rem;
}
.footer-line > img:last-of-type {
  width: 44%;
  height: 1px;
  position: absolute;
  right: 0;
}
.footer-line > img:nth-child(3) {
  position: absolute;
  width: 25%;
  left: 10%;
  margin-bottom: 7%;
}
.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 10%;
  padding-top: 3rem;
}
.website {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 2.25rem;
  margin-right: 2rem;
}
.website > h3 {
  font-size: 1.875rem;
  line-height: 3.125rem;
  font-weight: 700;
}
.website > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.website > div:first-of-type > a {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: #5c4831;
}
.website > div:first-of-type > a:hover {
  color: red;
}
.social-icon {
  display: flex;
  gap: 2rem;
}
.contact-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3.375rem;
}
.contact-title > h3 {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 700;
}
.contact-title > p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
}
.contact-form {
  width: 45%;
}
.form-columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  margin-top: 3.563rem;
  gap: 1rem;
}
.form-actions label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
/* Checkbox styles */
.form-actions > label > input[type="checkbox"] {
  margin-top: 0.5rem;
  width: 34px;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url(../images/check-before.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* Checkbox checked state styles */
.form-actions > label > input[type="checkbox"]:checked {
  background-image: url(../images/check-after.png);
}
.form-actions button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.form-actions > label > span {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #272727;
  margin-right: 1rem;
}
.form-actions > label > span > a {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #272727;
  text-decoration: underline;
}
.form-actions > button {
  background-color: #181a1b;
  color: #c0c0c0;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1.1rem 3.75rem;
  width: 17rem;
  cursor: pointer;
  border: none;
}
#formMessage {
  font-size: 0.8;
  color: green;
}
.image-contact {
  width: 30%;
  height: 40rem;
  object-fit: contain;
  mix-blend-mode: multiply;
  position: relative;
  right: -5%;
  top: -5.1rem;
}
.image-contact > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.form-columns {
  display: flex;
  flex-direction: row;
  position: relative;
}
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}
input {
  background-color: transparent;
  color: #272727;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  border: 1px solid #313131;
  padding: 1rem 1.688rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
input::placeholder {
  color: #272727;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
input:focus {
  outline: none;
  border: 1px solid #313131;
  box-shadow: none;
}
input:active {
  border: 1px solid #313131;
}
textarea {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #272727;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  border: 1px solid #313131;
  padding: 1rem 1.688rem;
  resize: none;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
textarea::placeholder {
  color: #272727;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
textarea:focus {
  outline: none;
  border: 1px solid #313131;
  box-shadow: none;
}
label.error {
  color: tomato;
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
  top: -0.8rem;
  right: auto;
}
.input.error {
  border: 1px solid tomato;
}

#consent-error {
  position: absolute;
  top: auto;
  bottom: -1.2rem;
}
.cokkies {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  margin-top: 4rem;
}
.cokkies > img {
  width: 100%;
  height: 1px;
  object-fit: contain;
}
.cokkies > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  gap: 2rem;
  padding: 1.75rem 2rem;
}
.cokkies > div > p {
  width: 30%;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}
.cokkies > div > div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.cokkies > div > div:first-of-type > button {
  padding: 1rem 1.5rem;
  border: 1px solid #2727274d;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.15rem;
  cursor: pointer;
}

.cokkies > div > div:last-of-type {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.article-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-top: 17rem;
}
.container-small {
  width: 100%;
  max-width: 58.125rem;
  margin: 0 auto;
}
.article-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.article-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.article-row > div:first-of-type {
  width: 30%;
  height: 40rem;
  object-fit: contain;
  position: absolute;
  right: -10%;
  top: -6rem;
}
.article-row > div:first-of-type > img {
  width: 140%;
  height: 100%;
  position: relative;
  object-fit: contain;
  top: -7rem;
  mix-blend-mode: multiply;
}
.article-row > div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 80%;
}
.article-row > div:last-of-type > h3 {
  font-size: 3.25rem;
  font-weight: 700;
  color: #222222;
  line-height: 3.5rem;
}
.article-row > div:last-of-type > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
}
.article-row > div:last-of-type > div > p:first-of-type {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  color: #222222;
  line-height: 2.3rem;
  margin-left: auto;
  margin-right: auto;
}
.article-row > div:last-of-type > div > p:last-of-type {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  color: #222222;
  line-height: 1.875rem;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  right: 5%;
}
.article-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.article-description > p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #222222;
  line-height: 1.875rem;
}
.article-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  gap: 1rem;
  margin-bottom: 5rem;
}
.article-name > img {
  width: 100%;
  height: 1px;
  object-fit: contain;
  position: absolute;
  left: -37%;
}
.article-name > div {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.article-name > div > p:first-of-type {
  font-size: 1.375rem;
  font-weight: 400;
  color: #222222;
  line-height: 1.875rem;
}
.article-name > div > p:last-of-type {
  font-size: 1.125rem;
  font-weight: 400;
  color: #222222;
  line-height: 1.875rem;
}

/* Animation for looping text */
@keyframes translateLoop {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

/* Responsive design for different screen sizes */
@media only screen and (max-width: 1820px) {
  .about-image {
    background-size: contain;
  }
  .about-image > img {
    object-fit: contain;
  }
}
@media only screen and (max-width: 1650px) {
  .hero-text > h1 {
    font-size: 3.8rem;
    margin-bottom: 2.125rem;
    line-height: 5rem;
  }
  .hero-text > p:first-of-type {
    font-size: 1.35rem;
  }
  .hero-text > p:last-child {
    font-size: 1.35rem;
  }
  .about-content > div:last-of-type > p {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .intrested-view {
    padding-bottom: 13rem;
  }
  .intrested-p > p {
    width: 45rem;
  }
  .researcher-item > img:first-of-type {
    height: 35rem;
  }
  .researcher-image-2 > img:last-of-type {
    bottom: 4%;
  }
  .researcher-content-two > div {
    width: 90%;
  }
  .padding-research {
    width: 40%;
    left: 3%;
  }
  .researcher-image-3 > img:first-of-type {
    width: 110%;
  }
}

@media only screen and (max-width: 1280px) {
  .hero-text > h1 {
    font-size: 3rem;
    margin-bottom: 2.125rem;
    line-height: 3.5rem;
  }
  .hero-text > p:first-of-type {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .hero-text > p:last-child {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .hero-top > .hero-image-view {
    height: 33rem;
  }
  .hero-bottom-image {
    width: 30rem;
    height: 25rem;
    top: 38.5%;
  }
  .hero-bottom {
    padding-top: 10rem;
  }
  .hero-bottom > p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 45rem;
  }

  .watch-hero {
    top: -1rem;
  }
  .eye-view {
    top: 40%;
  }
  .about-image {
    width: 70rem;
    height: 58rem;
    background-size: contain;
  }
  .intrested-view {
    padding-bottom: 12rem;
  }
  .intrested-p > p {
    width: 35rem;
  }
  .intrested-p {
    padding-top: 3rem;
  }
  .bottom-intresting {
    padding-top: 0px;
  }
  .researcher-content {
    gap: 3rem;
  }
  .researcher-content > h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .researcher-content > div {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .researcher-content > div > h3 {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .researcher-content > div > ul {
    margin-left: 2rem;
  }
  .researcher-image {
    height: 38rem;
  }
  .researcher-content-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
  }
  .researcher-image-3 {
    height: auto;
  }
  .women-image {
    height: 32rem;
    top: -18rem;
    width: 45%;
  }
  .padding-research {
    width: 60%;
    left: -2%;
    top: -9rem;
  }

  .researcher-image-3 > img:first-of-type {
    width: 100%;
  }
  .women-view > img:last-of-type {
    top: -19%;
  }
  .bottom-intresting {
    padding-top: 0px;
    height: 5rem;
  }
  .contact-form {
    width: 60%;
  }
  .form-actions {
    flex-wrap: wrap;
  }
  .footer-line > img:nth-child(2) {
    height: auto;
    top: -2rem;
  }
  .article-row > div:last-of-type {
    width: 75%;
  }

  .article-row > div:last-of-type > h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .article-row > div:last-of-type > div > p:first-of-type {
    font-size: 1.8rem;
  }
  .article-row > div:last-of-type > div > p:last-of-type {
    font-size: 1.2rem;
  }
  .article-row > div:first-of-type {
    right: 0%;
  }
}

@media only screen and (max-width: 991px) {
  .hero-content-view {
    padding-top: 3rem;
  }
  .hero-content-view > .hero-top {
    flex-direction: column-reverse;
  }
  .hero-image-view > img {
    width: 95%;
    right: 0%;
    margin-left: auto;
  }
  .hero-top > .hero-image-view {
    height: auto;
  }
  .hero-text-content {
    padding: 0% 1.688rem 0rem 1.688rem;
  }
  .hero-text {
    width: 100%;
    max-width: 100%;
  }
  .hero-text > h1 {
    font-size: 4.5rem;
    color: #222222;
    margin-bottom: 2.125rem;
    font-weight: 700;
    line-height: 5.375rem;
  }
  .hero-text > p:first-of-type {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
  .hero-text > p:last-child {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
  .hero-bottom {
    padding-top: 0rem;
  }
  .hero-bottom-image {
    position: static;
    width: 100%;
    height: 40rem;
  }
  .absolute-hero {
    display: none;
  }
  .watch-hero {
    display: none;
  }
  .eye-view {
    top: 55%;
  }
  .about-section {
    flex-direction: column;
  }
  .about-image {
    height: auto;
  }
  .about-content {
    padding: 0% 0rem 0rem 0%;
    margin-left: 0rem;
    max-width: 100%;
  }
  .about-content > div:first-of-type {
    padding: 0% 1.688rem 0rem 1.688rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about-content > div:last-of-type {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .about-content > div:last-of-type > p {
    left: 0%;
  }
  .about {
    margin-top: 8rem;
  }
  .about-image {
    background-position: 0% -3rem;
  }
  .intrested-view {
    flex-direction: column-reverse;
    padding-bottom: 0rem;
  }
  .intrested-absolute {
    display: flex;
    position: relative;
  }
  .intrested-absolute > img:first-of-type {
    display: none;
  }
  .intrested-absolute > img:last-of-type {
    width: 100%;
    height: auto;
    position: relative;
    left: auto;
    top: -6rem;
  }
  .intrested-p {
    position: relative;
    top: -6rem;
  }
  .researcher-item {
    flex-direction: column-reverse;
  }
  .researcher-image {
    width: 100%;
    height: auto;
    right: 0%;
    top: 0rem;
  }
  .researcher-image > img:first-of-type {
    right: -15%;
  }
  .researcher-section > img {
    display: none;
  }
  .researcher-image > img:last-of-type {
    top: -30%;
  }
  .researcher-content {
    gap: 4rem;
    padding: 0% 1.5rem 0rem 1.5rem;
  }
  .researcher-content > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .researcher-content > div > ul {
    margin-left: 2rem;
  }
  .researcher-item-two {
    top: -0rem;
    flex-direction: column;
  }
  .researcher-image-2 {
    padding-right: 0rem;
    padding-left: 0%;
    display: flex;
  }
  .researcher-image-2 > img:first-of-type {
    width: 75%;
    height: auto;
    top: 0rem;
    margin-left: auto;
    margin-right: 0;
  }
  .researcher-image-2 > img:last-of-type {
    position: absolute;
    bottom: 16%;
    width: 45%;
  }
  .researcher-item > img:first-of-type {
    width: 60%;
    height: auto;
    left: auto;
    right: -12%;
    top: auto;
    bottom: 32%;
  }
  .researcher-item > img:last-of-type {
    display: none;
  }
  .researcher-content-two > div {
    left: 0rem;
  }
  .researcher-bird {
    flex-direction: column-reverse;
    top: 0rem;
  }
  .researcher-bird > .researcher-image {
    position: relative;
    width: 100%;
    right: 0;
    height: auto;
    top: 0%;
  }
  .researcher-content-3 {
    top: 0rem;
  }
  .researcher-bird > .researcher-image > img:last-of-type {
    width: 120%;
    left: -10%;
  }
  .researcher-image-3 {
    padding-right: 0rem;
    left: -12%;
    height: auto;
  }
  .researcher-image-3 > img:first-of-type {
    width: 130%;
    height: 100%;
    top: 0rem;
    right: 2.3rem;
  }
  .padding-research {
    top: 0rem;
    width: 100%;
    left: 0%;
  }
  .women-image {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 0;
    top: 0rem;
    right: 0%;
    order: 3;
  }
  .women-view {
    top: 0rem;
  }
  .women-view > img:last-of-type {
    display: none;
  }
  .bottom-intresting {
    top: 0rem;
    height: auto;
  }
  .footer-line > img:nth-child(3) {
    display: none;
  }
  .image-contact {
    display: none;
  }
  .footer-contact {
    flex-direction: column-reverse;
    justify-content: center;
    padding-left: 0%;
    padding-top: 0rem;
    gap: 5.375rem;
  }
  .contact-form {
    width: 90%;
    margin: 0 auto;
  }
  .website {
    width: 100%;
    margin-right: 0rem;
    align-items: center;
  }
  .form-columns {
    flex-direction: column;
  }
  .contact-form {
    width: 90%;
  }
  .form-actions {
    margin-top: 0rem;
  }
  .form-actions > button {
    margin-top: 1rem;
  }
  .cokkies > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.875rem;
  }
  .cokkies > div > p {
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
  }
  .cokkies > div > div:first-of-type {
    flex-direction: column;
  }
  .cokkies > div > div:first-of-type > p {
    text-align: center;
  }
  .cokkies > div > div:last-of-type {
    flex-direction: column;
  }
  .article-row {
    flex-direction: column;
  }
  .article-row > div:first-of-type {
    width: 90%;
    height: auto;
    margin: 0 auto;
    top: 0rem;
    position: relative;
    margin-bottom: 2rem;
  }
  .article-row > div:first-of-type > img {
    width: 100%;
    height: 100%;
    top: 0rem;
  }

  .article-row > div:last-of-type {
    width: 90%;
  }
  .article-description {
    width: 90%;
  }
  .article-name {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    padding: 40px 20px;
  }
  nav > div > img {
    width: 91px;
    height: 32px;
  }
  .hero-text > h1 {
    font-size: 2.375rem;
    margin-bottom: 2.125rem;
    line-height: 2.875rem;
  }
  .hero-text > p:first-of-type {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hero-bottom > p {
    font-size: 1.125rem;
    line-height: 1.875rem;
  }
  .hero-text > p:last-child {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hero-bottom-image {
    height: 30rem;
  }
  .eye-view {
    top: 40%;
  }
  .article-section {
    padding-top: 10rem;
  }
  .article-name > img {
    left: -75%;
  }
  .article-name > div {
    width: 70%;
  }
}

@media only screen and (max-width: 478px) {
  .hero-bottom-image {
    height: 20rem;
  }
  .about-content > div:last-of-type > p {
    font-size: 1.875rem;
    line-height: 3.75rem;
  }
  .researcher-content > h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .researcher-content > div {
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .researcher-content > div > h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
